.criterios {
    margin: 30px;
    border:  rgb(177, 177, 209) solid 5px;
    background-color: rgb(177, 177, 209);
}

.criterios-pai {
    display: flex;
    text-align: left;
    text-align: center;
    margin: 30px;
}

h3 {
    text-align: center;
    position: relative;
    bottom: 4px;
    font-size: 13px;
    
}

h1 {
    font-size: 30px;
}
.vc-segue {
    padding: 20px;
    font-size: 30px;
}

.clique-no {
    font-size: 18px;
}

.retangulo {
    border: gray solid 5px;
    background-color: gray;
    max-width: 25vh;
    margin-left: 75vh;
    position: relative;
    bottom: -19px;
    
}

a {
    text-decoration: none;
    color: white;
}

.titulo {
    bottom: 20px;
}

.cat {
    position: relative;
    top: 76px;
}