.titulo {
    padding: 50px;
    text-align: center;
}

.images {
    width: 290px;
    height: 190px;
    border-radius: 30px;
}


.cats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;

}

.botao {
    background-color: #074f79;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.gato {
    margin: 30px;
    border-radius: 30px;
    border: 4pt solid #b5d6e7;
    background-color: #b5d6e7 ;
    height: 400px;
    width: 300px;
    text-align: center;
}